<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relógio Digital</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="clock-wrapper">
            <div class="clock">
                <div id="time">--:--:--</div>
                <div id="date">Carregando data...</div>
            </div>
            <button id="toggle-theme">Alternar Tema</button>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
